<h1 id="personality"></h1>
<div class="page-header mb-4 mt-3">
    <h3>Personality</h3>
</div>
<div class="row">
    <div class="col-12 p-0">
        <p>Our personality sets the tone for interactions within I2P platforms.</br />
			It reflects a wide variety of values from different backgrounds associated with I2P. It's vital that these values are recognizable in the external-facing software and mediums we build and maintain.</p>
			
		<h4>Concise</h4>
        <p>I2P is privacy-preserving software. As such, we have a responsibility to inform our users about possibilities and limitations without creating false expectations. Our software is used by people with different threat models and we don't assume any specific one for our users. I2P software is powerful but is prone to fail securing a user's identity if not properly configured. We don't over-promise about features in our software or the ease of using them. We are aware that our tools are at time complicated and strive to help and simplify this path.</p>
        
        <h4>Grounded</h4>
        <p>We swim against the currents and many will disagree with our stance but we are used to that. Our position is clear and we can back it up by the work we do. While we strive for a world where everyone is in control of their privacy, we are aware of the many hurdles in practice. We take these into account in order to deliver the big picture, yet help users get from A to B.</p>
        
        <h4>Patient</h4>
        <p>We don't expect people to be of any skill level by default. I2P software should be designed to guide any user no matter their technical background. By doing this, we show patience and empathy. It's okay to take things slowly. Doing them right is more important.</p>
		
		<h4>Simple</h4>
		<p>It's very easy to derail and slip into tech jargon, but we strive to use the most simple wordings and explanation as possible. While complicated terms might be impressive in academic papers, we don't aim to impress users that way. Using simple language reflects our humility and makes our content and tools more accessible to global audiences.</p>
        </div>
    </div>
