<div id="colors" class="page-header mb-4">
  <h2 class="b-border">Colors</h2>
  <p class="text-muted">The main I2P color is Blue. Use Green as a secondary option and Yellow as accent color.</p>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-primary text-white small">#4661A9</div>
    <h6 class="pt2 text-left">Primary Color</h6>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-secondary text-white small">#60AB60</div>
    <h6 class="pt2 text-left">Secondary color</h6>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-warning text-white small">#FFC434</div>
    <h6 class="pt2 text-left">Warning</h6>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-danger text-white small">#E15647</div>
    <h6 class="pt2 text-left">Danger</h6>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-white text-black small">#ffffff</div>
    <h6 class="pt2 text-left">White</h6>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-gray-1 text-black small">#95989A</div>
    <h6 class="pt2 text-left">Gray 1</h6>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-gray-2 text-white small">#181818</div>
    <h6 class="pt2 text-left">Gray 2</h6>
  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    <div class="rounded pt-5 pl-2 pb-2 mt-3 mb-2 background-black text-white small">#000000</div>
    <h6 class="pt2 text-left">Black</h6>
  </div>
</div>
