<div id="typography" class="page-header mb-4 mt-5">
    <h2>Typography</h2>
    <p class="text-muted">Our main typography is Source Sans made by Adobe.</p>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-black small text-muted">H1
					<h1>Protect communications from monitoring</h1>
				</p>
        <p class="text-black small text-muted">H2
					<h2>Protect communications from monitoring</h2>
				</p>
        <p class="text-black small text-muted">H3
					<h3>Protect communications from monitoring</h3>
				</p>
        <p class="text-black small text-muted">H4
					<h4>Protect communications from monitoring</h4>
				</p>
        <p class="text-black small text-muted">H5
					<h5>Protect communications from monitoring</h5>
				</p>
        <p class="text-black small text-muted">H6
					<h6>Protect communications from monitoring</h6>
				</p>

        <p class="text-black small pt-5 text-muted">H1 display
					<h1 class="header-display color-secondary">I2P Anonymous Network</h1>
				</p>
        <p class="text-black small text-muted">H2 display
					<h2 class="header-display color-secondary">I2P Anonymous Network</h2>
				</p>
        <p class="text-black small text-muted">H3 display
					<h3 class="header-display color-secondary">I2P Anonymous Network</h3>
				</p>
        <p class="text-black small text-muted">H4 display
					<h4 class="header-display color-secondary">I2P Anonymous Network</h4>
				</p>
    </div>
</div>
<div class="row pt-5">
    <div class="col-md-5">
        <p class="text-black small">
            <span class="text-left color-gray-2 rb-isBold">Paragraph</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">Source Sans Regular</span>
        </p>
        <p>
            I2P is an anonymous network, exposing a simple layer that applications can use to anonymously and securely send messages to each other.
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <p class="text-black small">
            <span class="text-left color-gray-2 rb-isBold">Code Snippet</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">Source Code</span>
        </p>
        <pre class="bg-light p-2 prettyprint rb-code" style="border: none;">
          $('.rb-sidebar').on('click', 'a',function() {
              $('.rb-sidebar a.active').removeClass('active');
              $(this).addClass('active');
          });
        </pre>
    </div>
</div>
