<nav class="navbar navbar-expand-lg navbar-dark sticky-top navbar__top">
  <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{site.baseurl}}{{site.logo}}" class="my-2" height="60px" width="auto" alt="I2P logo"></img>
  </a>
  <span class="theme-toggle unselectable">
    <svg id="themer" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto display-xs">
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/getting-started">Getting Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/brand/">Brand</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/design/">Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/components/">Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/writing/">Writing</a>
        </li>
      </ul>
    </div>
</nav>
