<div id="colors" class="col page-header mb-4">
  <h2>Colors</h2>
  <p class="text-muted">The I2P brand currently consists of 2 primary colors and 2 secondary colors.</p>
</div>

<div class="row pt-1 p-0">
  <div class="col-md-6 col-xs-12 mb-3">
    <h5 class="pb-3">Primary</h5>
    <div class="bg-smallest">
      <div class="row no-gutters">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-12 py-3">
              <div class="curved background-indigo-600 mr-3"></div>
                <span><strong>Free Speech Blue</strong><br>#526BCE<br>R82 G107 B206</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-12 py-3">
              <div class="curved background-indigo-900 mr-3"></div>
              <span><strong>Deep Komaru</strong><br>#363A68<br>R54 G58 B104</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <h5 class="pb-3">Secondary</h5>
    <div class="bg-smallest">
      <div class="row no-gutters">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-12 col-sm-6 pt-3 mb-3">
              <div class="curved background-teal-400 mr-3"></div>
              <span><strong>Medium Torquoise</strong><br>#A6F8F8<br>R166 G248 B248</span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-12 py-3">
              <div class="curved background-orange-400 mr-3"></div>
              <span><strong>Sandy Brown</strong><br>#EF9252<br>R246 G173 B85</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>