<div id="assets" class="page-header mb-4 mt-5">
    <h2>Identity Assets</h2>
    <p class="text-muted">The I2P brand assets are included here. Use them responsibly.</p>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="image border p-5">
            <img src="https://raw.githubusercontent.com/uracreative/works/master/I2P/PNG/horizontal_color.png" class="rb-contain">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_62.svg"
                 class="button btn btn-sm btn-pill btn-outline-medium">Download SVG</a>
            </span>
        </p>

    </div>

    <div class="col-xs-6 col-sm-3">
        <div class="image border p-5 bg-dark">
            <img src="https://raw.githubusercontent.com/uracreative/works/master/I2P/PNG/horizontal_white.png" class="rb-contain">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <span class="text-right color-primary rb-isBold" style="float: right;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_6.svg"
                 class="button btn btn-sm btn-pill btn-outline-medium">Download SVG</a>
            </span>
        </p>
    </div>
</div>


    <div class="row pt-3">
    	    <div class="col-md-2 col-sm-2">
        <div class="image border p-5">
            <img src="https://github.com/uracreative/works/raw/master/I2P/PNG/vertical_color.png" class="rb-contain">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">Default</span>
            <div class="row">
            <span class="text-right color-primary rb-isBold" style="float: left;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_63.svg"
                 class="button btn btn-sm btn-pill btn-outline-medium">Download SVG</a>
            </span>
            </div>
        </p>
    </div>
    
        <div class="col-md-2 col-sm-2">
        <div class="image border p-5 bg-dark">
            <img src="https://github.com/uracreative/works/raw/master/I2P/PNG/vertical_white.png" class="rb-contain">
        </div>
        <p class="text-black pt-3 align-horizontally flex-space-between">
            <span class="text-left color-gray-2 rb-isBold">White</span>
            <div class="row">
            <span class="text-right color-primary rb-isBold" style="float: left;">
              <a target="_blank"
                 href="https://demo.identihub.co/assets/SecureDrop_ICONS_9.svg"
                 class="button btn btn-sm btn-pill btn-outline-medium">Download SVG</a>
            </span>
            </div>
        </p>
    </div>
    </div>


<div class="row mt-5">
    <div class="col-md-6">
        <div class="bg-box p-5 mb-3">
            <h6>I2P repo</h6>
            <p class="m-0">Download SVG and PNG files</p>
            <a class="btn btn-lg btn-link p-0" title="I2P Repo"
               href="https://github.com/uracreative/works/tree/master/I2P" target="_blank">Visit Repo</a></div>
    </div>
    <div class="col-md-6">
        <div class="bg-box p-5 text-left">
            <h6>Styleguide Mirror on Identihub</h6>
            <p class="m-0">Identihub Project</p>
            <a class="btn btn-lg btn-link p-0" href="https://demo.identihub.co/i2p"
               target="_blank">Visit Project Page</a>
        </div>
    </div>
</div>
