<div class="mt-5" id="icons">
    <h2>Icons</h2>
    <div class="">
        <span>I2P uses the following icons in its interface.</span>
    </div>
    <div class="mt-3">
        <div class="mt-3">
            <div class="row">
                {% for icons_hash in page.icons %}
                {% for icon in icons_hash %}
                <div class="col-4 col-sm-3 col-lg-2 text-center pt-3 pb-3">
                    <div class="">
                        <span class="{{ icon[1] }} text-muted" style="font-size:2rem;"></span>
                    </div>
                    <div class="mb-5 text-center">
                        <span>{{icon[0]}}</span>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
