$primary: #4661A9;
$secondary: #60AB60;
$warning: #FFC434;
$danger: #E15647;
$font: 'Source Sans Pro', sans-serif !important;

// Open color
//
//
//  𝗖 𝗢 𝗟 𝗢 𝗥
//  v 1.6.2
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━


//  General
//  ───────────────────────────────────

$oc-white:         #ffffff;
$oc-black:         #000000;


//  Gray
//  ───────────────────────────────────

$oc-gray-list: (
        "1": #adb5bd,
        "2": #181818
);

$oc-gray-1: map-get($oc-gray-list, "1");
$oc-gray-2: map-get($oc-gray-list, "2");
