<div class="page-header mb-4">
    <h3>Footer</h3>
    <!--p class="text-muted">Some Description about scrollspy.</p-->
</div>

<div class="footer col-12 p-5 background-primary text-white">
	<div class="footer__wrapper col-lg-10 col-md-12 mx-auto" id="<++>">
		<div class="row" id="footer-lists">
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="footer-i2p-menu">
				<span>I2P</span>
				<li><a href="#">About</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">events</a></li>
				<li><a href="#">contact us</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="footer-gettingStarted-menu">
				<span>Getting started</span>
				<li><a href="#">guides</a></li>
				<li><a href="#">technology</a></li>
				<li><a href="#">api</a></li>
				<li><a href="#">docs</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="footer-getInvolved-menu">
				<span>get involved</span>
				<li><a href="#">contribute</a></li>
				<li><a href="#">donate</a></li>
				<li><a href="#">partners</a></li>
				<li><a href="#">run OONI</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5" id="footer-socialMedia-menu">
				<span>Follow us</span>
				<div class="footer__social-media" >
					<li class="footer__social-media-icon " ></li>
					<li class="footer__social-media-icon" ></li>
					<li class="footer__social-media-icon" ></li>
			</div>
			</ul>
		</div>
		<div class="spacer col-12" id=""></div>
		<div class="footer-extras row">
			<div class="col-lg-2 col-md-4 col-sm-6" >
				<img src="https://raw.githubusercontent.com/uracreative/works/master/I2P/PNG/horizontal_white.png" class="img-fluid" />
			</div>
			<div class="col-md-6 col-sm-12" >
				<p>© 2018 The Invisible Internet Project<br />
				Content available under a Creative Commons license.</p>
			</div>
			<div class="col-lg-4 col-sm-12" >
				<ul class="d-flex flex-wrap pl-0">
					<li><a href="#">data policy</a></li>
					<li><a href="#">legal</a></li>
					<li><a href="#">sitemap</a></li>
					<li><a href="#">ipressum</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
