<div id="footer" class="col page-header mb-4">
    <h3>Footer</h3>
</div>

<div class="footer col-12 p-5 background-primary text-white">
	<div class="footer__wrapper col-lg-11 col-md-12 mx-auto" >
		<div class="row" id="footer-lists">
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="footer-i2p-menu">
				<span>I2P</span>
				<li><a href="#">About</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">events</a></li>
				<li><a href="#">contact us</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="footer-gettingStarted-menu">
				<span>Getting started</span>
				<li><a href="#">guides</a></li>
				<li><a href="#">technology</a></li>
				<li><a href="#">api</a></li>
				<li><a href="#">docs</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="footer-getInvolved-menu">
				<span>get involved</span>
				<li><a href="#">contribute</a></li>
				<li><a href="#">donate</a></li>
				<li><a href="#">partners</a></li>
			</ul>
			<ul class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5" id="footer-socialMedia-menu">
				<span>Follow us</span>
				<div class="row footer__social-media" >
					<li>
						<svg
							class="footer__social-media-icon"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<use xlink:href="../assets/images/feather-sprite.svg#github"/>
						</svg>
					</li>
					<li>
						<svg
							class="footer__social-media-icon"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<use xlink:href="../assets/images/feather-sprite.svg#twitter"/>
						</svg>
					</li>
					<li>
						<svg
							class="footer__social-media-icon"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<use xlink:href="../assets/images/feather-sprite.svg#slack"/>
						</svg>
					</li>
			</div>
			</ul>
		</div>
		<div class="spacer col-12" ></div>
		<div class="footer-extras row">
			<div class="footer-extras__logo col-md-6 col-sm-12" >
				<img class="mb-3" src="https://raw.githubusercontent.com/uracreative/works/master/I2P/PNG/horizontal_white.png" class="img-fluid" />
				<p>© 2020 The Invisible Internet Project<br />
				Content available under a Creative Commons license.</p>
			</div>
			<div class="col-lg-4 col-sm-12" >
				<ul class="d-flex flex-wrap pl-0">
					<li><a href="#">data policy</a></li>
					<li><a href="#">legal</a></li>
					<li><a href="#">sitemap</a></li>
					<li><a href="#">impressum</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
