<div class="mb-4" id="jumbotron">
	<h2  >Jumbotron</h2>
	<div class="bg-light p-md-5 p-sm-3">
		<div class="jumbotron bg-primary text-white">
			<div class="container" >
				<div class="row" >
				<div class="col-sm-4 d-none d-sm-block" >
					<img src="../assets/images/jumbo.png" class="img-fluid" />
				</div>
					<div class="col-sm-8" >
						<h1 class="display-4">Privacy in numbers</h1>
						<p class="lead">Protect communication from dragnet surveillance and monitoring.</p>
						<hr class="my-4">
						<a class="btn btn-white btn-pill btn-lg" href="#" role="button">Download I2P</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
