<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="light">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <div class="row">
      <div class="col-md-3 col-sm-5 hidden-sm p-0">
        <div class="row" style="height: 100%">
          <div class="col-md-6 col-sm-6 col-xs-6 p-0">
            {% include navbar_side.html sidebarClassName="rb-sidebar__1" %}
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 p-0">
            {% include sidebar.html sidebarClassName="rb-sidebar__2" %}
          </div>
        </div>
      </div>
        <div class="col-lg-9 pt-5 pl-sm-5">
          {% include brand/colors.html %}
          {% include brand/typography.html %}
          {% include brand/logo.html %}
          {% include scripts.html %}
      </div>
    </div>
  </body>
</html>
