<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}
<body>
{% include navbar.html %}
<div class="row">
    <div class="col-md-3 hidden-sm p-0">
        <div class="row" style="height: 100%">
            <div class="col-md-6 col-sm-16 col-xs-12 p-0">
                {% include navbar_side.html sidebarClassName="rb-sidebar__1" %}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-3 p-0">
                {% include sidebar.html sidebarClassName="rb-sidebar__2" %}
            </div>
        </div>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12 pt-3 pl-5">
        <!--{{ content }}-->
			<div class="component-wrapper my-5" id="">
        {% include components/alerts.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/badges.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/buttons.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/cards.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/footer.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/forms.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/navbar.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/jumbotron.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/paginate.html %}
			</div>
			<div class="component-wrapper my-5" id="">
        {% include components/tables.html %}
			</div>
			{% include scrollspy.html %}
    </div>
</div>
{% include scripts.html %}
</body>
</html>
